/* MENU */

#inicio {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.8)
  ), url(/asset/img/hero.jpg);
  background-size: cover;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  transition: all 0.5s ease-in-out;
}

.inicio-altura{
  height: 100vh;
  padding-bottom: 2rem;
  background-position: right;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
    #inicio{
      background-position: -600px;
      height: 100vh;
      position: relative;
    }
}

#inicio .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  --state-close: scale(0);
  --state-ham: scale(1);
  --state-menu: translate(-100%);

}
#inicio .header:target {
  --state-close: scale(1);
  --state-ham: scale(0);
  --state-menu: translate(0);

}

.nav-links {
  display: flex;
  gap: 2rem;
  position: relative;
}

.nav-item a {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-negativo);
  text-decoration: none;
  font-size: clamp(10px, 1.5vw, 14px);
  letter-spacing: 1px;
}
.nav-item:hover a {
  text-shadow: 0 0 4px var(--color-negativo);
}

#inicio .menu {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f5ac0dec;
    transform: var(--state-menu);
    transition: 0.5s transform;
    z-index: 1;
  }

  .nav-item a {
    color: var(--color-complemento);
  }
  #inicio .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
  }

  #inicio .menu .nav-ham{
    color: var(--color-negativo);
  }
  #inicio .menu .nav-close{
    color: var(--color-complemento);
  }

  #inicio .menu .nav-ham,
  #inicio .menu .nav-close {
    text-align: center;
    transition: 0.6s transform ease-in-out;
    /* color: var(--color-negativo); */
  }
  #inicio .menu .nav-ham:hover,
  #inicio .menu .nav-close:hover {
    text-shadow: var(--shadow);
  }
  #inicio .menu .nav-ham {
    grid-column: 2/3;
    grid-row: 1/2;
    transform: var(--state-ham);
  }
  #inicio .menu .nav-close {
    grid-column: 2/3;
    grid-row: 1/2;
    transform: var(--state-close);
  }

}

header>*{
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: var(--color-negativo);
}
.bloque h2 {
  color: var(--color-ppal);
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-shadow: 0 0 2px var(--color-complemento);
}
.bloque span {
  font-weight: 400;
  color: var(--color-negativo);
}

.header i {
  cursor: pointer;
}

.bloque {
  color: var(--color-negativo);
  margin-bottom: 16px;
}
.bloque p {
  text-transform: uppercase;
  margin-bottom: 4px;
}
.bloque p:first-of-type {
  font-weight: bold;
  font-size: 16px;
}

.tabla {
  color: var(--color-negativo);
  text-align: center;
}


/* MAIN */

main {
  margin-top: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 576px) {
  main {
    margin-top: var(--nav-h);
    transition: margin-top 0.5s ease-in-out;
  }
}

.encabezado,
.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 0;
  font-weight: bold;
}

.encabezado {
  text-transform: uppercase;
  border: 2px solid var(--color-negativo);
  border-radius: 4px;
}

@media (max-width: 576px) {
  header {
    background-position-x: -50px;
  }

}

.anclas_nav i {
  cursor: pointer;
}
/* .anclas_nav i:hover {
  text-shadow: var(--shadow);
} */
.anclas {
  width: 100%;
  color: var(--color-complemento);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}
.anclas a {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


/* -- SEARCH -- */
.search_nav {
  height: 32px;
  border-radius: 16px;
  background-color: var(--color-complemento);
  width: 50%;

  position: relative;
}

.search__btn {
display: grid;
place-items: center;
height: 100%;
width: 56px;
border-radius: 16px;
background-color: var(--color-ppal);

position: absolute;
top: 0;
bottom: 0;
right: 0;
}

.search__year {
  display: grid;
  place-items: center;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.search__year select, input{
  background: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: var(--color-negativo);
  padding: 4px 16px;
}

.search__year select { 
  appearance: none; /* Oculta la flechita predeterminada */ -webkit-appearance: none; /* Para Safari */ 
  -moz-appearance: none; /* Para Firefox */ 
  z-index: 10;
}


/* .anclas a:not(a:last-of-type){
  border-right: none;
} */
.anclas svg {
  width: 3rem;
  padding: 8px;
}
.anclas p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}


/* CITA */
.cita {
  color: var(--color-complemento);
  margin: 1rem 5rem -1rem 5rem;
  text-align: center;
  font-family: "Englebert", cursive;
}
.cita h3 {
  font-size: 4rem;
}
.cita h3:first-of-type{
  text-align: left;
}
.cita h3:last-of-type{
  text-align: right;
  margin-top: -10px
}
.cita p {
  
  font-size: clamp(20px, 2.5vw, 48px);
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: bold;
  margin-top: -30px;
}
@media (max-width: 576px) {
  .anclas {
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 1rem;
  }
  .cita {
    margin: 1rem;
  }
}
.anclas a:hover {
  box-shadow: 0 0 5px var(--color-complemento);
}
.anclas a:hover svg,
.anclas a:hover p {
  transform: scale(0.85);
}
.search_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.temas {
  width: 45%;
}
@media (max-width: 576px) {
  .temas {
    width: 85%;
  }
}

#temas option {
  text-transform: uppercase;
}

.temas select {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--color-complemento);
  border-radius: 4px;
}

@media (max-width: 576px) {
  header {
    padding-top: 1rem;
  }
}
