@import url(css/reset.css);
@import url(css/header.css);
@import url(css/home.css);
@import url(css/globales.css);
@import url(css/footer.css);
@import url(css/contacto.css);
@import url(css/faqs.css);